<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMARThome</title>
</head>
<body>
<h1>Choose parameters</h1>
<form action="#" method="post">
    <label for="room">Room:</label>
    <select name="room" id="room">
        <option value="all">all</option>
        <option value="livingroom">livingroom</option>
        <option value="bedroom">bedroom</option>
        <option value="garden">garden</option>
    </select>
    <p>
    <label for="field">Data type (field):</label>
    <select name="field" id="field">
        <option value="all">all</option>
        <option value="temperature">temperature</option>
        <option value="air pressure">air pressure</option>
        <option value="humidity">humidity</option>
    </select></p>
    <p><input type="submit" value="submit"/></p>
        <p>
</form>

</body>
</html>
